# AWS Region
aws_region = "us-east-1"

# Project Configuration
project_name = "idoeasy"
environment  = "dev"

# Domain Configuration
custom_domain = "idoeasy.net"

# Backend Configuration
backend_url = "https://api.idoeasy.net"



# App Runner Configuration
port = 3000
docker_image_uri = "800572458310.dkr.ecr.us-east-1.amazonaws.com/idoeasy-frontend:latest"
app_runner_cpu = "1024"
app_runner_memory = "2048"
